:root {
  --c-bg: #040f0f;
  --c-bg-alt: #002e2c;
  --c-bg-alt-2: #8eaf9d;
  --c-txt: #004125;
  --c-pry: #2ba84a;
  --c-white: #fcfffc;
  --c-c-1: #d3f3ee;
  --c-c-0: #2ba84a;
  --c-c-2: #dc605c;
  --c-c-3: #4b0503;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--c-c-1);
  box-sizing: border-box;
  border: 0;
}

.result-amount > h4 {
  font-size: 2rem;
  color: var(--c-txt);
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

.perse {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: .9rem;
  color: var(--c-c-1);
  background-color: var(--c-txt);
  font-weight: 500;
  padding: 0.18rem 0.4rem 0.25rem 0.4rem;
  width: auto;
  text-align: center;
  border-radius: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

body {
  background-color: var(--c-bg);
  display: -ms-grid;
  display: grid;
  grid-template-rows: 12% 87%;
  grid-template-columns: 100%;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  min-width: 100vw;
}

header {
  background-color: var(--c-bg-alt);
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

header > h1 {
  color: var(--c-white);
}

header > p {
  color: var(--c-c-1);
}

#calc {
  padding: 0rem 5rem 5rem 5rem;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
  height: 100%;
  width: 100vw;
}

#calc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

#total {
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  grid-gap: 1rem;
}

.bordered_box {
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: .8rem;
  border: 0.1rem solid var(--c-c-1);
}

.bordered_box > h2 {
  font-size: 1rem;
}

.result-amount {
  display: flex;
}

.result-card {
  position: relative;
  padding: 1rem 3rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.amount {
  display: flex;
}

.amount > button {
  border: 0.1rem solid var(--c-pry);
  background-color: var(--c-pry);
  padding: 0.6rem 1.5rem 0.8rem 1rem;
  border-radius: 0 2rem 2rem 0;
  color: var(--c-c-1);
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

input {
  border: 0.1rem solid var(--c-pry);
  background-color: var(--c-bg);
  padding: 0.6rem 1rem 0.8rem 1.5rem;
  border-radius: 2rem 0 0 2rem;
  color: var(--c-c-1);
  margin: 0;
  font-size: 1rem;
  width: 20rem;
}

input::placeholder {
  color: var(--c-bg-alt-2);
}

.results {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    "result_ars result_ars result_ars result_ars result_afp result_afp result_afp result_afp result_isr result_isr result_isr result_isr"
    "result_n result_n result_n result_n result_n result_n result_a result_a result_a result_a result_a result_a"
    "result_g result_g result_g result_d result_d result_d result_a result_a result_a result_a result_a result_a"
    "result_i result_i result_i result_i result_i result_i result_a result_a result_a result_a result_a result_a";
}

#result_isr {
  grid-area: result_isr;
  background-color: var(--c-c-2);
}

#result_afp {
  grid-area: result_afp;
  background-color: var(--c-c-2);
}

#result_ars {
  grid-area: result_ars;
  background-color: var(--c-c-2);
}

#result_isr h4,
#result_afp h4,
#result_ars h4 {
  color: var(--c-c-3);
}

#result_n {
  grid-area: result_n;
  background-color: var(--c-c-0);
}

#result_d {
  grid-area: result_d;
  background-color: var(--c-c-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result_g {
  grid-area: result_g;
  background-color: var(--c-c-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result_i {
  grid-area: result_i;
  background-color: var(--c-c-0);
}

#result_a {
  grid-area: result_a;
  background-color: var(--c-c-0);
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  padding: 1rem;
}

#result_a > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
}

#result_a_results {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
}

#result_a_results .result-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 5rem;
}

#result_a_results .result-card h4 {
  color: var(--c-c-1);
}

#result_a_results .result-card .perse {
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

input[type="radio"] {
  width: auto;
}